@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<style>
    .message {
        margin: 100px;
    }
</style>

<div class="text-center">
    <h1 class="text-danger">Oh no!</h1>
    <h2 class="text-danger">Something went wrong with your request</h2>

    <h3 class="message">
        To proceed you can refresh, return to previous page or check if your internet connection is stable and has not been 
        interrupted during the request.
    </h3>
    <p>If you have got this error by clicking next after your spotify authorization you can get more informations under link below </p>
    <a href="https://github.com/protectedvoid21/LastSpotifyConverter#important" target="_blank">https://github.com/protectedvoid21/LastSpotifyConverter#important</a>
</div>

